.wrapper{
  background: url("../../assets/images/bghome.png") center/cover no-repeat;
  padding-bottom: 10%;
}

.cards {
  padding: 2% 2%;
  background: #f0f0f0;
  position: relative;
  top: -100px;
  border-radius: 170px 170px 0 0;
  
  height: 200vh;
  max-width: 100%;
}


